<div class="login-page">
    <div class="form">
      <form class="login-form">
        <div>
          <input type="text" autocomplete="off" [(ngModel)] = "email" placeholder="email" name="email" required="required" #input>
          <input type="password" autocomplete="off" [(ngModel)] = "password" placeholder="Contraseña"name="password" required="required"/>
          <button mat-raised-button color="primary" (click)="login()" value ="Login">login</button>
        </div>
      </form>
    </div>
</div>
  