#image {
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

button.enlace mat-icon {
  display: block;
  margin: 5px auto -5px;
  transform: scale(0.75);
}

.active {
  color: #2196f3 !important;
  background-color: #fff !important;
}

.fichaje-activo {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  line-height: 20px;
}

.info-fichaje {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-fichaje {
  display: flex;
  gap: 20px;
}

.data-fichaje div {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.left-separator {
  border-left: 2px solid #fff;
}

.fichaje-activo button {
  margin: 0 10px;
}

mat-form-field.example-form-field {
  width: 100% !important;
}

/* Responsive */
@media (max-width: 768px) {
  .toolbar-links {
    margin-left: 1rem;
    gap: 0.5rem;
  }

  .logo-container .logo {
    height: 35px;
  }

  .profile-icon {
    width: 36px;
    height: 36px;
  }
}
