<div class="carrusel">
  <div class="imagenes" id="imagenes">
    <img src="assets/imagenCarrusel1.jpeg" class="imagen" alt="Imagen 1" />
    <img src="assets/imagenCarrusel2.jpeg" class="imagen" alt="Imagen 2" />
  </div>
  <div class="cuadro-titulo">
    <h2>Montanyeres</h2>
  </div>
  <button class="boton prev" (click)="mover(-1)">&#10094;</button>
  <button class="boton next" (click)="mover(1)">&#10095;</button>
</div>

<main>
  <div class="descripcion" id="descripcion">
    <div class="contenido-descripcion">
      <h1>Que és Montanyeres</h1>
      <div class="bloque-contenido">
        <p>
          Montanyeres és una associació que tracta els valors a través de jocs i activitats
          que ens fan reflexionar i ser una persona amb uns millors valors. A més, a mitjan curs
          gaudim d'una acampada de dos dies on disfrutem i vivim una experiència inoblidable,
          per últim a final de curs disfrutem d'un campament d'una setmana sencera a les
          instal·lacions d'althaia (Altea la Vella).
        </p>
        <img src="assets/imagen-descripcion.jpeg" alt="Descripción Montanyeres" />
      </div>
    </div>
  </div>

  <div class="apartados">
    <section class="inscripciones">
      <div class="imagens">
        <img src="assets/inscripcions.jpg" alt="Inscripciones" />
      </div>
      <div class="contenido">
        <p>
          Aquí encontrarás toda la información necesaria para unirte a Montanyeres. Podrás
          conocer los requisitos y el proceso para inscribirte en nuestras actividades y campamentos.
        </p>
      </div>
    </section>

    <section class="calendario">
      <div class="imagens">
        <img src="assets/calendario.jpeg" alt="Calendario" />
      </div>
      <div class="contenido">
        <p>
          Consulta nuestro calendario para estar al tanto de todas las actividades y eventos que
          tenemos programados a lo largo del año. No te pierdas ninguna de nuestras emocionantes aventuras.
        </p>
      </div>
    </section>
  </div>
</main>
